body {    
  font-family: 'Oswald', Impact, sans-serif !important;
  color: rgb(102, 102, 102) !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.body-width {
  /*width: 90%;*/
  height: 100vh;
  /*margin: 15px;*/
  /*padding: 15px;*/
  /*border: 2px solid #009688;*/
  /*background-image: url('imgs/14.jpg');*/
  /*background-repeat: no-repeat;*/
  /*background-size: auto 800px;*/
  background-color: #00CFBB;
}

.flex-container {
  display: -webkit-flex; /*required for mobile safari*/
  display: flex;
}